.control-panel {
    border: 1px solid #e0e0e0;
    padding: .5rem;

    border-radius: 5px;
}

.control-panel-input.valid {
    background-color: #c8e6c9;
}

.control-panel-input.invalid {
    background-color: #ffcdd2;
}
